html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "微软雅黑";
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: .3px;
    color: rgb(76,76,76);
    background-color: #ffffff;
}

.bg-grey {
    background: rgb(242,242,242) no-repeat center;
}

.bg-white {
    color: rgb(76,76,76);
    background: rgb(255,255,255) no-repeat center;
}

.bg-all-245 {
    color: rgb(76,76,76);
    background: rgb(245,245,245) no-repeat center;
}

.bg-all-230 {
    color: rgb(76,76,76);
    background: rgb(230,230,230) no-repeat center;
}

.bg-img {
    position: relative;
    background-color: rgb(36,36,36);
}

    .bg-img .bg-img-base {
        visibility: visible;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: no-repeat center center;
        background-size: cover;
        z-index: 10;
        opacity: 0;
        -webkit-transition: visibility .3s ease, opacity .3s ease-in-out;
        transition: visibility .3s ease, opacity .3s ease-in-out;
    }

        .bg-img .bg-img-base.in {
            visibility: visible;
            opacity: 1;
        }

p {
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "微软雅黑";
    color: rgb(76,76,76);
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: 0px;
}

.bg-color h1, .bg-color h2, .bg-color h3, .bg-color h4, .bg-color h5, .bg-color h6 {
    color: #FFF;
}

h1, h2, h3, h4 {
    margin-bottom: 15px;
}

h5, h6 {
    margin-bottom: 10px;
}

h1 {
    font-size: 42px;
    line-height: 52px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-size: 30px;
    line-height: 38px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-size: 18px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 20px;
}

a, a:visited {
    color: rgb(40,100,250);
    -webkit-transition: color .2s ease, background .2s ease, padding .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
    transition: color .2s ease, background .2s ease, padding .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
}

.bg-color a, .bg-color a:visited {
    color: #FFF;
}

a:hover {
    color: #707070;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #333;
}

.bg-color a:hover, .bg-color h1 a:hover, .bg-color h2 a:hover, .bg-color h3 a:hover, .bg-color h4 a:hover, .bg-color h5 a:hover, .bg-color h6 a:hover {
    color: #d8e1fa;
}

a:focus {
    text-decoration: none;
}

ul li {
    line-height: inherit;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0px;
    -ms-interpolation-mode: bicubic;
}

label {
    font-weight: 400;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], .ie input[type="range"], .ie9 input[type="range"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea {
    /*height: 50px;*/
    font-family: "微软雅黑";
    color: #b0b0b0;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 20px;
    border: 1px solid #e0e0e0;
    outline: none !important;
    border-radius: 6px;
}

.bg-color input[type="color"], .bg-color input[type="date"], .bg-color input[type="datetime"], .bg-color input[type="datetime-local"], .bg-color input[type="email"], .bg-color input[type="month"], .bg-color input[type="number"], .bg-color input[type="password"], .bg-color .ie input[type="range"], .bg-color .ie9 input[type="range"], .bg-color input[type="search"], .bg-color input[type="tel"], .bg-color input[type="text"], .bg-color input[type="time"], .bg-color input[type="url"], .bg-color input[type="week"], .bg-color select, .bg-color textarea {
    border: 0px;
}

input[type="date"]::-webkit-inner-spin-button, input[type="datetime-local"]::-webkit-inner-spin-button, input[type="month"]::-webkit-inner-spin-button, input[type="week"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="datetime-local"]::-webkit-calendar-picker-indicator, input[type="month"]::-webkit-calendar-picker-indicator, input[type="week"]::-webkit-calendar-picker-indicator {
    background: #f0f0f0;
    margin-left: 5px;
}

input[type="file"] {
    line-height: 1;
}

input[type="image"] {
    background: none;
}

input[type="number"]::-webkit-inner-spin-button {
    display: block;
    position: relative;
    width: 8px;
    color: #333;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    -webkit-appearance: none;
}

    input[type="number"]::-webkit-inner-spin-button:before, input[type="number"]::-webkit-inner-spin-button:after {
        position: absolute;
        right: 0px;
        font-family: "微软雅黑";
        content: '^';
    }

    input[type="number"]::-webkit-inner-spin-button:before {
        top: 0px;
    }

    input[type="number"]::-webkit-inner-spin-button:after {
        bottom: 0px;
        -webkit-transform: rotate(180deg);
    }

input[type="time"]::-webkit-inner-spin-button {
    margin: 11px 0px 0px 5px;
}

select, textarea {
    height: auto;
    padding: 12.5px 16px;
}

textarea {
    padding-left: 20px;
    padding-right: 20px;
}

    input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, .ie input[type="range"]:focus, .ie9 input[type="range"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, textarea:focus {
        color: #404040;
        border-color: rgb(40,100,250);
        box-shadow: 0px 0px 10px rgba(40,99,249,.15);
    }

.bg-color input[type="color"]:focus, .bg-color input[type="date"]:focus, .bg-color input[type="datetime"]:focus, .bg-color input[type="datetime-local"]:focus, .bg-color input[type="email"]:focus, .bg-color input[type="month"]:focus, .bg-color input[type="number"]:focus, .bg-color input[type="password"]:focus, .bg-color .ie input[type="range"]:focus, .bg-color .ie9 input[type="range"]:focus, .bg-color input[type="search"]:focus, .bg-color input[type="tel"]:focus, .bg-color input[type="text"]:focus, .bg-color input[type="time"]:focus, .bg-color input[type="url"]:focus, .bg-color input[type="week"]:focus, .bg-color select:focus, .bg-color textarea:focus {
    box-shadow: none;
}

input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, .ie input[type="range"]:disabled, .ie9 input[type="range"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, select:disabled, textarea:disabled {
    color: #a9a9a9;
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    box-shadow: none;
}

.btn-custom, input[type="button"], input[type="submit"], input[type="reset"], button {
    font-family: "微软雅黑";
    font-size: 15px;
    line-height: 50px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: rgb(40,100,250);
    padding: 14px 30px;
    border: 1px solid rgb(40,100,250);
    outline: none !important;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(40,99,249,.15);
    -webkit-transition: color .2s ease, background .2s ease, border .2s ease;
    transition: color .2s ease, background .2s ease, border .2s ease;
}

input[type="button"], input[type="submit"], input[type="reset"], button {
    line-height: 1;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
}

    .btn-custom.btn-blue, input[type="button"].btn-blue, input[type="submit"].btn-blue, input[type="reset"].btn-blue, button.btn-blue {
        background-color: rgb(40,100,250);
        border-color: rgb(40,100,250);
        box-shadow: 0px 0px 10px rgba(40,99,249,.15);
    }

    .btn-custom.btn-green, input[type="button"].btn-green, input[type="submit"].btn-green, input[type="reset"].btn-green, button.btn-green {
        background-color: #21c064;
        border-color: #21c064;
        box-shadow: 0px 0px 10px rgba(33,192,100,.15);
    }

    .btn-custom.btn-orange, input[type="button"].btn-orange, input[type="submit"].btn-orange, input[type="reset"].btn-orange, button.btn-orange {
        background-color: #ff5e00;
        border-color: #ff5e00;
        box-shadow: 0px 0px 10px rgba(255,94,0,.15);
    }

    .btn-custom.btn-pink, input[type="button"].btn-pink, input[type="submit"].btn-pink, input[type="reset"].btn-pink, button.btn-pink {
        background-color: #ff0080;
        border-color: #ff0080;
        box-shadow: 0px 0px 10px rgba(255,0,128,.15);
    }

    .btn-custom.btn-purple, input[type="button"].btn-purple, input[type="submit"].btn-purple, input[type="reset"].btn-purple, button.btn-purple {
        background-color: #5b1795;
        border-color: #5b1795;
        box-shadow: 0px 0px 10px rgba(91,23,149,.15);
    }

    .btn-custom.btn-yellow, input[type="button"].btn-yellow, input[type="submit"].btn-yellow, input[type="reset"].btn-yellow, button.btn-yellow {
        background-color: #feac00;
        border-color: #feac00;
        box-shadow: 0px 0px 10px rgba(254,172,0,.15);
    }

.bg-color .btn-custom, .bg-color input[type="button"], .bg-color input[type="submit"], .bg-color input[type="reset"], .bg-color button, .bg-color .btn-custom.btn-blue, .bg-color input[type="button"].btn-blue, .bg-color input[type="submit"].btn-blue, .bg-color input[type="reset"].btn-blue, .bg-color button.btn-blue {
    color: rgb(40,100,250) !important;
    background-color: #FFF;
    border-color: #FFF;
    box-shadow: none;
}

.btn-custom.btn-border, input[type="button"].btn-border, input[type="submit"].btn-border, input[type="reset"].btn-border, button.btn-border, .btn-custom.btn-blue.btn-border, input[type="button"].btn-blue.btn-border, input[type="submit"].btn-blue.btn-border, input[type="reset"].btn-blue.btn-border, button.btn-blue.btn-border {
    color: rgb(40,100,250) !important;
    background-color: transparent;
}

.btn-custom.btn-green.btn-border, input[type="button"].btn-green.btn-border, input[type="submit"].btn-green.btn-border, input[type="reset"].btn-green.btn-border, button.btn-green.btn-border {
    color: #21c064 !important;
}

.btn-custom.btn-orange.btn-border, input[type="button"].btn-orange.btn-border, input[type="submit"].btn-orange.btn-border, input[type="reset"].btn-orange.btn-border, button.btn-orange.btn-border {
    color: #ff5e00 !important;
}

.btn-custom.btn-pink.btn-border, input[type="button"].btn-pink.btn-border, input[type="submit"].btn-pink.btn-border, input[type="reset"].btn-pink.btn-border, button.btn-pink.btn-border {
    color: #ff0080 !important;
}

.btn-custom.btn-purple.btn-border, input[type="button"].btn-purple.btn-border, input[type="submit"].btn-purple.btn-border, input[type="reset"].btn-purple.btn-border, button.btn-purple.btn-border {
    color: #5b1795 !important;
}

.btn-custom.btn-yellow.btn-border, input[type="button"].btn-yellow.btn-border, input[type="submit"].btn-yellow.btn-border, input[type="reset"].btn-yellow.btn-border, button.btn-yellow.btn-border {
    color: #feac00 !important;
}

.btn-custom:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .btn-custom.btn-blue:hover, input[type="button"].btn-blue:hover, input[type="submit"].btn-blue:hover, input[type="reset"].btn-blue:hover, button.btn-blue:hover {
    color: #FFF !important;
    background-color: #205bf1;
    border-color: #205bf1;
}

.btn-custom.btn-green:hover, input[type="button"].btn-green:hover, input[type="submit"].btn-green:hover, input[type="reset"].btn-green:hover, button.btn-green:hover {
    color: #FFF !important;
    background-color: #19b65b;
    border-color: #19b65b;
}

.btn-custom.btn-orange:hover, input[type="button"].btn-orange:hover, input[type="submit"].btn-orange:hover, input[type="reset"].btn-orange:hover, button.btn-orange:hover {
    color: #FFF !important;
    background-color: #ea5600;
    border-color: #ea5600;
}

.btn-custom.btn-pink:hover, input[type="button"].btn-pink:hover, input[type="submit"].btn-pink:hover, input[type="reset"].btn-pink:hover, button.btn-pink:hover {
    color: #FFF !important;
    background-color: #f00078;
    border-color: #f00078;
}

.btn-custom.btn-purple:hover, input[type="button"].btn-purple:hover, input[type="submit"].btn-purple:hover, input[type="reset"].btn-purple:hover, button.btn-purple:hover {
    color: #FFF !important;
    background-color: #52118a;
    border-color: #52118a;
}

.btn-custom.btn-yellow:hover, input[type="button"].btn-yellow:hover, input[type="submit"].btn-yellow:hover, input[type="reset"].btn-yellow:hover, button.btn-yellow:hover {
    color: #FFF !important;
    background-color: #eea100;
    border-color: #eea100;
}

.bg-color .btn-custom.btn-border, .bg-color input[type="button"].btn-border, .bg-color input[type="submit"].btn-border, .bg-color input[type="reset"].btn-border, .bg-color button.btn-border, .bg-color .btn-custom.btn-blue.btn-border, .bg-color input[type="button"].btn-blue.btn-border, .bg-color input[type="submit"].btn-blue.btn-border, .bg-color input[type="reset"].btn-blue.btn-border, .bg-color button.btn-blue.btn-border {
    color: #FFF !important;
}

.bg-color .btn-custom:hover, .bg-color input[type="button"]:hover, .bg-color input[type="submit"]:hover, .bg-color input[type="reset"]:hover, .bg-color button:hover, .bg-color .btn-custom.btn-blue:hover, .bg-color input[type="button"].btn-blue:hover, .bg-color input[type="submit"].btn-blue:hover, .bg-color input[type="reset"].btn-blue:hover, .bg-color button.btn-blue:hover {
    color: rgb(40,100,250) !important;
    background-color: #d8e1fa;
    border-color: #d8e1fa;
}

.bg-color .btn-custom.btn-border:hover, .bg-color input[type="button"].btn-border:hover, .bg-color input[type="submit"].btn-border:hover, .bg-color input[type="reset"].btn-border:hover, .bg-color button.btn-border:hover {
    background-color: #FFF;
    border-color: #FFF;
}

.btn-custom.disabled, input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, button:disabled, .bg-color .btn-custom.disabled, .bg-color input[type="button"]:disabled, .bg-color input[type="submit"]:disabled, .bg-color input[type="reset"]:disabled, .bg-color button:disabled, .btn-custom.btn-border.disabled, input[type="button"].btn-border:disabled, input[type="submit"].btn-border:disabled, input[type="reset"].btn-border:disabled, button.btn-border:disabled, .bg-color .btn-custom.btn-blue.btn-border.disabled, .bg-color input[type="button"].btn-blue.btn-border:disabled, .bg-color input[type="submit"].btn-blue.btn-border:disabled, .bg-color input[type="reset"].btn-blue.btn-border:disabled, .bg-color button.btn-blue.btn-border:disabled, .btn-custom.disabled:hover, input[type="button"]:disabled:hover, input[type="submit"]:disabled:hover, input[type="reset"]:disabled:hover, button:disabled:hover, .bg-color .btn-custom.disabled:hover, .bg-color input[type="button"]:disabled:hover, .bg-color input[type="submit"]:disabled:hover, .bg-color input[type="reset"]:disabled:hover, .bg-color button:disabled:hover, .btn-custom.btn-border.disabled:hover, input[type="button"].btn-border:disabled:hover, input[type="submit"].btn-border:disabled:hover, input[type="reset"].btn-border:disabled:hover, button.btn-border:disabled:hover, .bg-color .btn-custom.btn-blue.btn-border.disabled:hover, .bg-color input[type="button"].btn-blue.btn-border:disabled:hover, .bg-color input[type="submit"].btn-blue.btn-border:disabled:hover, .bg-color input[type="reset"].btn-blue.btn-border:disabled:hover, .bg-color button.btn-blue.btn-border:disabled:hover {
    color: #a9a9a9 !important;
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    box-shadow: none;
}

.btn-custom.btn-icon {
    position: relative;
    padding-left: 60px;
}

    .btn-custom.btn-icon.btn-icon-after {
        padding-right: 60px;
        padding-left: 30px;
    }

    .btn-custom.btn-icon .ion {
        position: absolute;
        top: 0px;
        left: 10px;
        width: 50px;
        font-size: 24px;
        line-height: 50px;
        text-align: center;
    }

    .btn-custom.btn-icon.btn-icon-after .ion {
        right: 10px;
        left: auto;
    }

button.close {
    font-family: "微软雅黑";
    color: #404040 !important;
    font-size: 20px;
    margin: 0px;
    border-radius: 0px;
}

    button.close:hover {
        color: #111;
        background: none;
        border: 0px;
    }

.alert h4 {
    margin-bottom: 10px;
}

.tooltip {
    text-transform: lowercase;
}

.tooltip-inner {
    padding: 6px 12px 5px;
    border-radius: 0px;
}

.padding-top0 {
    padding-top: 0px !important;
}

.padding-right0 {
    padding-right: 0px !important;
}

.padding-bottom0 {
    padding-bottom: 0px !important;
}

.padding-left0 {
    padding-left: 0px !important;
}

.padding-top10 {
    padding-top: 10px !important;
}

.padding-top20 {
    padding-top: 20px !important;
}

.padding-top30 {
    padding-top: 30px !important;
}

.padding-top40 {
    padding-top: 40px !important;
}

.padding-top50 {
    padding-top: 50px !important;
}

.padding-top60 {
    padding-top: 60px !important;
}

.padding-top70 {
    padding-top: 70px !important;
}

.padding-top80 {
    padding-top: 80px !important;
}

.padding-top90 {
    padding-top: 90px !important;
}

.padding-top100 {
    padding-top: 100px !important;
}

.padding-top110 {
    padding-top: 110px !important;
}

.padding-top120 {
    padding-top: 120px !important;
}

.padding-bottom10 {
    padding-bottom: 10px !important;
}

.padding-bottom20 {
    padding-bottom: 20px !important;
}

.padding-bottom30 {
    padding-bottom: 30px !important;
}

.padding-bottom40 {
    padding-bottom: 40px !important;
}

.padding-bottom50 {
    padding-bottom: 50px !important;
}

.padding-bottom60 {
    padding-bottom: 60px !important;
}

.padding-bottom70 {
    padding-bottom: 70px !important;
}

.padding-bottom80 {
    padding-bottom: 80px !important;
}

.padding-bottom90 {
    padding-bottom: 90px !important;
}

.padding-bottom100 {
    padding-bottom: 100px !important;
}

.padding-bottom110 {
    padding-bottom: 110px !important;
}

.padding-bottom120 {
    padding-bottom: 120px !important;
}

.margin-top0 {
    margin-top: 0px !important;
}

.margin-right0 {
    margin-right: 0px !important;
}

.margin-bottom0 {
    margin-bottom: 0px !important;
}

.margin-left0 {
    margin-left: 0px !important;
}

.margin-top10 {
    margin-top: 10px !important;
}

.margin-top20 {
    margin-top: 20px !important;
}

.margin-top30 {
    margin-top: 30px !important;
}

.margin-top40 {
    margin-top: 40px !important;
}

.margin-top50 {
    margin-top: 50px !important;
}

.margin-top60 {
    margin-top: 60px !important;
}

.margin-top70 {
    margin-top: 70px !important;
}

.margin-top80 {
    margin-top: 80px !important;
}

.margin-top90 {
    margin-top: 90px !important;
}

.margin-top100 {
    margin-top: 100px !important;
}

.margin-top110 {
    margin-top: 110px !important;
}

.margin-top120 {
    margin-top: 120px !important;
}

.margin-bottom10 {
    margin-bottom: 10px !important;
}

.margin-bottom20 {
    margin-bottom: 20px !important;
}

.margin-bottom30 {
    margin-bottom: 30px !important;
}

.margin-bottom40 {
    margin-bottom: 40px !important;
}

.margin-bottom50 {
    margin-bottom: 50px !important;
}

.margin-bottom60 {
    margin-bottom: 60px !important;
}

.margin-bottom70 {
    margin-bottom: 70px !important;
}

.margin-bottom80 {
    margin-bottom: 80px !important;
}

.margin-bottom90 {
    margin-bottom: 90px !important;
}

.margin-bottom100 {
    margin-bottom: 100px !important;
}

.margin-bottom110 {
    margin-bottom: 110px !important;
}

.margin-bottom120 {
    margin-bottom: 120px !important;
}

/* ========================= Footer ========================= */

#footer {
    /*background: url(../images/bg-footer.png) repeat-x bottom center;*/
}

    #footer .affa-form-contact {
        color: #555;
        background-color: #FFF;
        padding: 50px 80px;
        border-radius: 8px;
        border: 1px solid #EEE;
    }

        #footer .affa-form-contact a {
            color: rgb(40,100,250);
        }

            #footer .affa-form-contact a:hover {
                color: #707070;
            }

        #footer .affa-form-contact input[type="text"], #footer .affa-form-contact input[type="email"], #footer .affa-form-contact textarea {
            border: 1px solid #e0e0e0;
        }

            #footer .affa-form-contact input[type="text"]:focus, #footer .affa-form-contact input[type="email"]:focus, #footer .affa-form-contact textarea:focus {
                border-color: rgb(40,100,250);
                box-shadow: 0px 0px 10px rgba(40,99,249,.15);
            }

            #footer .affa-form-contact input[type="text"]:disabled, #footer .affa-form-contact input[type="email"]:disabled, #footer .affa-form-contact textarea:disabled {
                border-color: #e9e9e9;
                box-shadow: none;
            }

            #footer .affa-form-contact input[type="text"].error, #footer .affa-form-contact input[type="email"].error, #footer .affa-form-contact textarea.error {
                border-color: #ff4747;
            }

        #footer .affa-form-contact .form-contact-submit input[type="submit"], #footer .affa-form-contact .form-contact-submit input[type="submit"].btn-blue {
            color: #FFF !important;
            background-color: rgb(40,100,250);
            border-color: rgb(40,100,250);
            box-shadow: 0px 0px 10px rgba(40,99,249,.15);
        }

            #footer .affa-form-contact .form-contact-submit input[type="submit"].btn-border, #footer .affa-form-contact .form-contact-submit input[type="submit"].btn-blue.btn-border {
                color: rgb(40,100,250) !important;
                background-color: transparent;
            }

            #footer .affa-form-contact .form-contact-submit input[type="submit"]:hover, #footer .affa-form-contact .form-contact-submit input[type="submit"].btn-blue:hover {
                color: #FFF !important;
                background-color: #205bf1;
                border-color: #205bf1;
            }

            #footer .affa-form-contact .form-contact-submit input[type="submit"]:disabled, #footer .affa-form-contact .form-contact-submit input[type="submit"].btn-blue:disabled {
                color: #a9a9a9 !important;
                background-color: #e9e9e9;
                border-color: #e9e9e9;
                box-shadow: none;
            }

    #footer .footer-txt, #footer .footer-txt a {
        color: #FFF;
    }

        #footer .footer-txt a:hover {
            color: #d8e1fa;
        }

    #footer .footer-logo {
        text-align: center;
        padding-bottom: 80px;
        border-bottom: 1px solid rgba(255,255,255,.4);
    }

.ie #footer .footer-logo {
    border-bottom: 1px solid #FFF;
}

#footer .footer-logo img {
    max-height: 60px;
}

#footer .footer-copyright {
    overflow: hidden;
    padding: 15px 0px;
}

#footer .copyright-txt {
    color: rgb(102,102,102);
    float: left;
    font-size: 16px;
    font-weight: 300;
    padding: 13px 0px;
    margin: 0px;
}

    #footer .copyright-txt a {
        font-weight: 400;
    }

#footer .socials {
    float: right;
}

    #footer .socials a {
        float: left;
        width: 36px;
        height: 36px;
        color: rgb(102,102,102);
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        margin: 7px 0px 7px 20px;
        border: 0px solid rgb(102,102,102);
        border-radius: 50%;
    }

        #footer .socials a:hover {
            color: rgb(40,99,249);
            background-color: rgb(255,255,255);
        }

#footer .scrollup {
    display: none;
    width: 48px;
    color: rgb(42,42,42);
    font-size: 48px;
    line-height: 1;
    text-align: center;
    padding-bottom: 20px;
    margin: 0px auto;
}

    #footer .scrollup:hover {
        color: rgb(102,102,102);
    }

#footer .footer-hypelink {
    padding-top: 13px;
}

    #footer .footer-hypelink > a {
        font-size: 16px;
        font-weight: 300;
        color: rgb(187,187,187);
    }
/* ========================= Footer ========================= */

.container {
    width: 100%;
}

.margin-top-20 {
    margin-top: -20px;
}

.padding-1010 {
    padding: 10px 0px;
}

.padding-left10 {
    padding-left: 10px;
}

.padding-H5050 {
    padding-left: 50px;
    padding-right: 50px;
}

.padding-left50 {
    padding-left: 50px;
}

.padding-right20 {
    padding-right: 20px;
}

.header-search-field-icon {
    position: relative;
    left: -30px;
    top: 2px;
}

.text-white {
    color: rgb(255,255,255);
}

.text-black {
    color: rgb(76,76,76);
}

.text-center-white {
    text-align: center;
    color: rgb(255,255,255);
}

.text-underline {
    text-decoration: underline;
}

.text-header-userinfo {
    font-weight: 600;
    color: rgb(40,100,250);
}

.text-align-right {
    text-align: right;
    padding-right: 10px;
}

.text-size-25 {
    font-size: 25px;
}

.cursor-hand {
    cursor: pointer;
}

.shadow {
    box-shadow: -5px 5px 10px 5px #aaaaaa;
}

.qr-code {
    width: 150px;
    height: 150px;
}

.hidden {
    display: none;
}

header button .navbar-toggle {
    display: none;
}

.text-signin-dialog-title {
    color: rgb(102,102,102);
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    padding-bottom: 30px;
}

.text-signin-dialog-regist-link {
    color: rgb(102,183,255);
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}

.button-forgetpwd-getcheckcode {
    position: absolute;
    top: 2px;
    left: 452px;
    height: 30px;
    width: 100px;
    background-color: rgb(247,247,247);
    color: rgb(230,230,230);
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-control-feedback {
    right: 15px;
}

.border-form-modal-dialog {
    border: 1px solid rgb(230,230,230);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.check-code-image {
    height: 30px;
}

.m-window-buttton{
    background-color: rgb(139,195,74);
    color: rgb(255,255,255);
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

#btn_CheckPhoneNumber_CountDown {
    cursor: pointer;
}

@media screen and (min-width: 1960px) {
    body {
        width: 1960px;
        margin: auto;
    }

    .modal-dialog {
        width: 960px;
        margin: 30px auto;
    }
}

@media screen and (min-width: 1959px) and (min-height:1079px) {
    .modal-dialog {
        margin-top: 20%;
    }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 992px) and (max-width:1199px) {
    .form-control.header-search-field {
        width: 120px;
        padding-left: 5px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .form-control.header-search-field {
        width: 90px;
        padding-left: 5px;
    }

    .no-padding-xs {
        padding: 0px;
    }
}

@media screen and (max-width:767px) {
    #footer .scrollup {
        display: block;
    }

    .header-search-field-icon {
        left: 90%;
        top: -30px;
    }

    form.navbar-form.navbar-right {
        padding-bottom: 0px;
        margin-left: 5px;
        margin-right: 5px;
    }

    header button .navbar-toggle {
        display: block;
    }

    li.nav-item {
        text-align: center;
    }

        li.nav-item a {
            font-weight: 700;
        }
}

@media (max-width: 640px) {
}

@media (max-width: 540px) {
}

@media (max-width: 480px) {
}

@media (max-width: 400px) {
}

@media (max-width: 375px) {
    .button-forgetpwd-getcheckcode {
        left: 207px;
    }
}

@media (max-width: 414px) {
    .button-forgetpwd-getcheckcode {
        left: 246px;
    }
}
