.bg-031034039 {
    background-color: rgb(31,34,39);
}

.text-139195074 {
    color: rgb(139,195,74);
}

.navbar-default {
    border-color: rgb(31,34,39);
}

.padding-v-dynamic {
    padding-top: 50px;
    padding-bottom: 50px;
}

.children-list-wrap {
    padding: 10px 0px;
    overflow: hidden;
}

table.list-container {
    border-spacing: 0px;
    border-collapse: collapse;
    border: none;
    width: 100%;
    border: none;
    table-layout: fixed;
}

.items-list-container {
    position: relative;
    text-align: center;
}

.learning-course-list-arrow {
    margin-top: 0px;
}

    .learning-course-list-arrow span {
        font-size: 25px;
        color: rgb(102,102,102);
        cursor: pointer;
    }

        .learning-course-list-arrow span:hover {
            color: rgb(51,51,51);
            -webkit-transition: color .2s ease, background .2s ease, padding .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
            transition: color .2s ease, background .2s ease, padding .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
        }

.children-item {
    height: 150px;
    width: 180px;
    display: inline-block;
}

.children-item-title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255,255,255);
    text-align: center;
    padding: 10px 0px;
}

.children-item-img {
    width: 150px;
    height: 150px;
    background-color: rgb(255,255,255);
    border: 3px solid rgb(46,88,136);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.children-item-img-mask {
    width: 150px;
    height: 150px;
    background-color: rgb(121,121,121);
    filter: alpha(Opacity=80);
    -moz-opacity: 0.7;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    margin-left: 15px;
    border: 3px transparent;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


.active .children-item-img {
}

.active .children-item-img-mask {
    display: none;
}

@media screen and (min-width: 1920px) {
    .padding-v-dynamic {
        padding-top: 300px;
        padding-bottom: 340px;
    }
}

/*standby application*/

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 992px) and (max-width:1199px) {
}

@media screen and (min-width:768px) and (max-width:991px) {
}

@media screen and (max-width:767px) {
}

@media (max-width: 640px) {
}

@media (max-width: 540px) {
}

@media (max-width: 480px) {
}

@media (max-width: 400px) {
}
