#btn_Top_Carousel_Item {
    color: rgb(255,255,255);
    font-size: 22px;
    text-align: center;
}

    #btn_Top_Carousel_Item:hover {
        border-width: 2px;
        border-color: rgb(255,255,255);
    }

.container-distance {
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel-indicators .active {
    margin-right: 5px;
}

.carousel-indicators li {
    margin-right: 5px;
}

.section-title {
    color: rgb(68,191,160);
    text-align: center;
}

.honor-wall-wrap {
    padding: 10px 0px;
    overflow: hidden;
}

.honor-wall-arrow {
    margin-top: -30px;
}

    .honor-wall-arrow span {
        font-size: 25px;
        color: rgb(102,102,102);
        cursor: pointer;
    }

        .honor-wall-arrow span:hover {
            color: rgb(51,51,51);
            -webkit-transition: color .2s ease, background .2s ease, padding .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
            transition: color .2s ease, background .2s ease, padding .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
        }


.honor-wall-container {
    height: 180px;
}

.honor-wall-item {
    height: 180px;
    width: 140px;
    display: inline-block;
    margin-right: 30px;
}

.honor-item-title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(68,191,160);
    text-align: center;
    padding: 10px 0px;
}

    .honor-item-title.unreached {
        color: rgb(147,146,145);
    }

.honor-item-reached {
    background: url(../images/honor/yesicon.png) no-repeat;
    width: 42px;
    height: 36px;
    position: relative;
    top: -97px;
    left: 96px;
}

.bg-efefef {
    background-color: rgb(239,239,238);
}

.bg-edede5 {
    background-color: rgb(237,237,229);
}

.bg-f4f4f4 {
    background-color: rgb(244,244,244);
}

.user-info-container {
    border: 2px solid rgb(187,187,187);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgb(80,80,80);
}

.user-info-content-top {
    background-color: rgb(107,203,202);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-bottom-left-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    margin-right: -17px;
    padding: 20px;
}

#icon_UserInfo_Head {
    padding: 10px;
    border: 1px solid rgb(255,255,255);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.user-info-head-vip-tip {
    background: url(../images/head/vip_icon.png) no-repeat;
    position: relative;
    top: -94px;
    left: 63px;
    z-index: 10000;
    height: 18px;
    width: 30px;
}

.user-info-detail-count {
    margin-bottom: 0px;
    padding-top: 20px;
    color: rgb(129,115,102);
}

.user-info-detail-title {
    padding-bottom: 10px;
    color: rgb(129,115,102);
}

.show-r-l-border {
    border: 3px solid rgb(147,132,109);
    border-top: none;
    border-bottom: none;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

#btn_UserInfo_ChangeHeader {
    background-color: rgb(148,132,109);
    border-bottom: 5px solid rgb(133,117,92);
}

#wrap_UserInfo_Share_Btn {
    background-color: rgb(255,103,102);
    border-bottom: 5px solid rgb(255,75,74);
}

#txt_UserInfo_SendMsg {
    font-size: 18px;
    padding-left: 5px;
    resize: none;
    border: 1px solid rgb(147,132,109);
}

img.user-info-bottom-button {
    display: inline-block;
    margin-top: -10px;
}

h4.user-info-bottom-button {
    margin-bottom: 0px;
    display: inline-block;
    padding-left: 10px;
}

.bg-edede3 {
    background-color: rgb(237,237,227);
}

.border-r-l-white {
    border-left: 2px solid rgb(255,255,255);
    border-right: 2px solid rgb(255,255,255);
}

.user-info-content-bottom {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
}

.user-course-container {
    border: 2px solid rgb(187,187,187);
    background-color: rgb(255,255,255);
    box-shadow: 4px 4px 5px rgb(80,80,80);
}

.user-course-content-top {
    padding: 0px 20px;
}

    .user-course-content-top p {
        color: rgb(147,132,109);
        font-size: 16px;
        font-weight: 600;
    }

    .user-course-content-top ul {
        display: table;
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        padding-left: 0px;
    }

        .user-course-content-top ul li {
            color: rgb(68,68,68);
            font-weight: 600;
            float: left;
            *float: none;
            *display: inline;
            *zoom: 1;
        }

.user-course-detail-title {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(156,151,147);
}

.user-course-detail-count {
    font-size: 32px;
    font-weight: 700;
    color: rgb(129,115,102);
    padding-top: 10px;
}

.user-course-content-liner_1 {
    height: 5px;
    margin: 0px -15px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=rgb(108,211,140),endColorStr=rgb(89,189,124));
    background: -ms-linear-gradient(left, rgb(108,211,140), rgb(89,189,124));
    background: -moz-linear-gradient(left, rgb(108,211,140), rgb(89,189,124));
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, from(rgb(108,211,140)), to(rgb(89,189,124)));
    background: -webkit-linear-gradient(left, rgb(108,211,140), rgb(89,189,124));
    background: -o-linear-gradient(left, rgb(108,211,140), rgb(89,189,124));
}

.user-course-content-liner_2 {
    height: 5px;
    margin: 0px -15px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=rgb(89,189,124),endColorStr=rgb(62,161,103));
    background: -ms-linear-gradient(left, rgb(89,189,124), rgb(62,161,103));
    background: -moz-linear-gradient(left, rgb(89,189,124), rgb(62,161,103));
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, from(rgb(89,189,124)), to(rgb(62,161,103)));
    background: -webkit-linear-gradient(left, rgb(89,189,124), rgb(62,161,103));
    background: -o-linear-gradient(left, rgb(89,189,124), rgb(62,161,103));
}

.user-course-content-liner_3 {
    height: 5px;
    margin: 0px -15px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=rgb(62,161,103),endColorStr=rgb(41,136,86));
    background: -ms-linear-gradient(left, rgb(62,161,103), rgb(41,136,86));
    background: -moz-linear-gradient(left, rgb(62,161,103), rgb(41,136,86));
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, from(rgb(62,161,103)), to(rgb(41,136,86)));
    background: -webkit-linear-gradient(left, rgb(62,161,103), rgb(41,136,86));
    background: -o-linear-gradient(left, rgb(62,161,103), rgb(41,136,86));
}

span.user-course-datapoint {
    font-size: 22px;
    color: rgb(252,124,6);
}

.user-course-container .border-right {
    border-right: 2px solid rgb(237,237,227);
    display: inline-block;
}

.canvas-container {
    width: 100%;
    height: 100%;
}

    .canvas-container.distribution {
        min-height: 200px;
    }

    .canvas-container.codetime {
        min-height: 230px;
    }

.user-course-legend {
    width: 6px;
    height: 6px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.container.learning-course-wrap {
    padding: 10px 10px;
    overflow: hidden;
}

.container.learning-course-item {
    width: 222px;
    height: 300px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    margin-right: 20px;
    border: 2px solid rgb(191,191,191);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

    .container.learning-course-item .row {
        margin-left: 0px;
        margin-right: 0px;
    }

.col-sm-12.learning-course-item {
    height: 120px;
    background: url(../images/course/course_1.png) no-repeat left top;
}

.learning-course-item-play-btn {
    position: relative;
    top: 105px;
    left: 78px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

    .learning-course-item-play-btn:hover {
        border: 2px solid rgb(255,255,255);
        top: 103px;
        left: 76px;
        cursor: pointer;
    }

.learning-course-item h4 {
    font-weight: 600;
}

.learning-course-item p {
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0px;
}

.learning-course-list-arrow {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding-right: 2px;
}

    .learning-course-list-arrow span {
        font-size: 25px;
        color: rgb(102,102,102);
        cursor: pointer;
    }

        .learning-course-list-arrow span:hover {
            color: rgb(51,51,51);
            -webkit-transition: color .2s ease, background .2s ease, padding .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
            transition: color .2s ease, background .2s ease, padding .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
        }

.learning-course-inner {
    overflow: hidden;
    display: inline-block;
}

table.list-container {
    border-spacing: 0px;
    border-collapse: collapse;
    border: none;
    width: 100%;
    border: none;
    table-layout: fixed;
}

p.app-lab-centent {
    color: rgb(126,134,140);
    font-size: 18px;
    font-weight: 600;
}

#btn_Enter_App_Lab {
    background-color: rgb(33,193,146);
    color: rgb(255,255,255);
}

.border-edede5 {
    border: 2px solid rgb(237,237,229);
}

.border-1-edede5 {
    border: 1px solid rgb(237,237,229);
    border-top: none;
}

.bg-f4f4f4 li a {
    color: rgb(102,102,102);
}

.bg-f4f4f4 li.active a {
    color: rgb(51,51,51);
}

.padding-H4040 {
    padding-right: 40px;
    padding-left: 40px;
}

.padding-H3030 {
    padding-right: 30px;
    padding-left: 30px;
}

.padding-H2020 {
    padding-right: 20px;
    padding-left: 20px;
}

.margin-top-10 {
    margin-top: -10px;
}

.items-list-container {
    position: relative;
}

.user-course-codetime-arrow {
    position: relative;
    width: 15px;
    z-index: 1000;
    cursor: pointer;
}

    .user-course-codetime-arrow span {
        font-size: 20px;
        color: rgb(102,102,102);
        cursor: pointer;
    }

        .user-course-codetime-arrow span:hover {
            color: rgb(51,51,51);
            -webkit-transition: color .2s ease, background .2s ease, padding .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
            transition: color .2s ease, background .2s ease, padding .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
        }

@media screen and (min-width: 1960px) {
    body {
        width: 1960px;
        margin: auto;
    }

    .modal-dialog {
        width: 960px;
        margin: 30px auto;
    }
}

@media screen and (min-width: 1959px) and (min-height:1079px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 992px) and (max-width:1199px) {
}

@media screen and (min-width:769px) and (max-width:991px) {
}

@media screen and (max-width:768px) {
    .padding-H5050 {
        padding-left: 10px;
        padding-right: 10px;
    }

    p.app-lab-centent {
        font-size: 15px;
    }

    .user-info-detail-title {
        font-size: 20px;
    }
}

@media (max-width: 640px) {
}

@media (max-width: 540px) {
}

@media (max-width: 480px) {
}

@media (max-width: 400px) {
}
