.word-word {
    font-size: 18px;
    font-weight: bold;
    color: rgb(50,34,14);
    text-align: left;
}

.word-soundmark {
    font-size: 12px;
    color: rgb(156,141,121);
    text-align: left;
}

.word-paraphrase {
    font-size: 12px;
    color: rgb(50,34,14);
    text-align: left;
}

.word-variant-header {
    font-size: 14px;
    color: rgb(156,141,121);
    text-align: left;
}

.word-variant-content {
    font-size: 12px;
    color: rgb(50,34,14);
    text-align: left;
}

.play-soundmark-button {
    cursor: pointer;
    padding-left: 5px;
    font-size: 12px;
}

    .play-soundmark-button:hover {
        color: rgb(106,91,71);
    }
