html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

table {
    width: 100%;
    height: 100%;
    column-span: none;
    border: none;
}

td {
    padding: 0px;
}

.height-p100 {
    height: 100%;
}

header {
    /*height: 60px;*/
    background-color: rgb(41,49,67);
}

.head-stage-background {
    width: 80%;
    height: 30px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    display: inline-block;
    background-image: url(../images/background//stageprogress.png);
}

.head-stage-label {
    width: 15%;
    height: 30px;
    top: -35px;
    position: relative;
    display: inline-block;
}

    .head-stage-label div {
        width: 30px;
        height: 30px;
        position: relative;
        left: calc(50% - 15px);
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
    }

    .head-stage-label .complete-item {
        background: url(../images/label/stepdone.png);
        background-color: rgb(26,164,216);
        cursor: pointer;
    }

    .head-stage-label.show-stage-index {
        height: 34px;
        top: -45px;
    }

    .head-stage-label .current-item {
        width: 34px;
        height: 34px;
        line-height: 34px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(255,255,255);
        background-color: rgb(233,139,58);
        border-radius: 17px;
        -moz-border-radius: 17px;
        -webkit-border-radius: 17px;
    }

    .head-stage-label .future-item {
        background-color: rgb(203,204,203);
    }

.head-stage-index {
    line-height: 30px;
}

.head-stage-space {
    width: 15%;
    height: 10px;
    top: 10px;
    left: 0px;
    background-color: rgb(26,164,216);
    position: absolute;
    display: inline-block;
}

.header-user-image {
    background-color: rgb(255,255,255);
}

.header-user-name-text {
    font-family: 微软雅黑;
    color: rgb(203,204,203);
    line-height: 40px;
}

footer {
    /*height: 60px;*/
    background-color: rgb(28,34,46);
}

.footer {
    height: 60px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.footer-tool-item {
    line-height: 58px;
    width: 65px;
    text-align: center;
    cursor: pointer;
    color: rgb(255,255,255);
}

    .footer-tool-item.selected {
        line-height: 58px;
        border: none;
        border-top: solid 2px rgb(97,208,121);
        color: rgb(97,208,121);
    }

    .footer-tool-item:hover {
        border-top: solid 2px rgb(110,158,245);
        color: rgb(110,158,245);
    }

.main-container {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.siderbar-wrap {
    width: 425px;
    height: calc(100% - 60px - 60px);
    height: -moz-calc(100% - 60px - 60px);
    height: -webkit-calc(100% - 60px - 60px);
    position: absolute;
    top: 60px;
    right: 0px;
    z-index: 1000;
}

.siderbar-expand {
    width: 20px;
    height: 50px;
    line-height: 50px;
    padding-left: 3px;
    position: relative;
    top: calc(50% - 25px);
    top: -moz-calc(50% - 25px);
    top: -webkit-calc(50% - 25px);
    left: -25px;
    color: rgb(255,255,255);
    background-color: rgb(41,49,67);
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.siderbar-drag {
    position: relative;
    height: 100%;
    width: 5px;
    top: -50px;
    /*left: 20px;*/
    left: -5px;
    background-image: url(../images/background/siderbardrag.png);
}

    .siderbar-drag.expanded {
        cursor: col-resize;
    }

.siderbar-drag-proxy {
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: rgb(203,204,203);
    display: none;
    visibility: hidden;
    cursor: col-resize;
    z-index: 9999;
}

.sidebar-content-wrap {
    height: 100%;
    /*width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);*/
    width: 100%;
    min-width: 400px;
    position: absolute;
    top: 0px;
    /*left: 25px;*/
}

.siderbar-content {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(41,49,67);
}

.course-help-title {
    margin-left: 15px;
    color: rgb(255,255,255);
    font-family: 微软雅黑;
    font-size: 14px;
}

.course-help-container {
    margin-left: 15px;
    position: relative;
    max-width: 465px;
    min-width: 300px;
}

.course-help-hits {
    height: 30px;
    width: 30px;
    background-color: rgb(139,195,74);
    color: rgb(255,255,255);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 20px;
    top: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

    .course-help-hits:hover {
        border: 2px solid rgb(255,255,255);
        cursor: pointer;
        line-height: 26px;
    }

.course-help-image {
    width: 100%;
    max-width: 465px;
    min-width: 300px;
}

.course-help-footer {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    line-height: 35px;
    height: 40px;
    font-family: 微软雅黑;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    max-width: 465px;
    min-width: 300px;
}

.stage-notes-wrap {
    height: 95px;
    background-color: rgb(223,228,231);
}

.modle-tip {
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    background-color: rgb(18,21,29);
    display: none;
    position: absolute;
    top: calc(100% - 95px);
    left: 0px;
    color: rgb(255,255,255);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 1000;
}

.head-course-name {
    color: rgb(203,204,203);
    line-height: 30px;
    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}

.code-panel {
    width: 400px;
    height: 300px;
    position: absolute;
    border: none;
    background-color: rgb(34,34,34);
    display: none;
    z-index: 800;
}

.code-panel-header {
    width: 100%;
    height: 20px;
    cursor: move;
}

.code-panel-header-close {
    width: 20px;
    height: 20px;
    position: relative;
    top: 1px;
    left: calc(100% - 26px);
    cursor: pointer;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(../images/icon/ui-icons_ffffff_256x240.png);
}

.course-stage-note {
    padding-top: 20px;
    font-family: 微软雅黑;
    font-size: 14px;
}

.code-panel-content {
    position: relative;
    top: -5px;
    padding: 10px;
    height: calc(100% - 15px);
}

#game_container {
    background-color: rgb(34,34,34);
    width: 100%;
    height: 100%;
}

.row.blockly-wrap {
    height: calc(100%-95px);
    height: -moz-calc(100% - 95px);
    height: -webkit-calc(100% - 95px);
    border-top: solid 2px rgb(245,245,245);
}

    .row.blockly-wrap .col-sm-12 {
        width: 100%;
        height: 100%;
        padding: 0px;
    }

.blockly-content-wrap {
    width: calc(100%-5px);
    width: -moz-calc(100% - 5px);
    width: -webkit-calc(100% - 5px);
    height: calc(100%-20px);
    height: -moz-calc(100% - 20px);
    height: -webkit-calc(100% - 20px);
    padding: 0px;
    border: none;
}

.blockly-workspace-wrap {
    width: 100%;
    height: 100%;
    border: solid 1px rgb(209,207,204);
    border-bottom-width: 2px;
    background-color: rgb(223,228,231);
}

#content_WorkSpace {
    width: 100%;
    height: 100%;
}

.workspace-title-tr {
    background-color: rgb(26,164,216);
}

    .workspace-title-tr .title-wrap-td {
        text-align: center;
    }

        .workspace-title-tr .title-wrap-td.wrap-td-1 {
            height: 35px;
            /*border-right: solid 1px rgb(209,207,204);*/
            width: 260px;
            text-align: left;
            padding-left: 15px;
        }

.workspace-title-text {
    font-family: 微软雅黑;
    font-size: 13px;
    font-weight: bolder;
    color: rgb(255,255,255);
}

.workspace-title-2 {
    min-width: 250px;
    position: relative;
    height: 35px;
    line-height: 35px;
}

.workspace-title-tools {
    width: 100%;
    /*height: 100%;
    line-height: 100%;*/
    height: 29px;
    line-height: 29px;
    text-align: right;
    text-align: -webkit-right;
    color: rgb(255,255,255);
    padding-top: 3px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}

.workspace-tool-item {
    padding-left: 10px;
    padding-top: 2px;
    cursor: pointer;
}

    .workspace-tool-item:hover {
        color: rgb(209,207,204);
        font-size: 18px;
    }


textarea {
    width: 100%;
    background-color: #EAEAEA;
    border: none;
    height: 100%;
    padding: 5px;
    margin-right: 10px;
    line-height: 20px;
    overflow: auto;
    color: rgb(199,199,199);
    font-size: 14px;
    font-family: "微软雅黑";
}

    textarea:focus {
        box-shadow: none;
        color: rgb(177,177,177);
    }

.ui-icon {
    width: 18px;
    height: 18px;
}

.workspace-toolbox-icon {
    width: 110px;
    height: 23px;
    background-image: url(../images/icon/blocklyicons.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    /* display: inline-block; */
    padding-left: 30px;
    /* margin-top: 5px; */
    line-height: 22px;
}

.word-panel {
    width: 400px;
    height: 300px;
    position: absolute;
    border: 1px solid rgb(00,00,00);
    background-color: rgb(249,248,228);
    display: none;
    z-index: 800;
}

.word-panel-header {
    width: 100%;
    height: 20px;
    /*cursor: move;*/
}

.word-panel-header-close {
    width: 20px;
    height: 20px;
    position: relative;
    top: 1px;
    left: calc(100% - 26px);
    cursor: pointer;
    color: black;
}

.word-panel-content {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 30px);
}

.word-word {
    font-size: 18px;
    font-weight: bold;
    color: rgb(50,34,14);
    text-align: left;
}

.word-soundmark {
    font-size: 12px;
    color: rgb(156,141,121);
    text-align: left;
}

.word-paraphrase {
    font-size: 12px;
    color: rgb(50,34,14);
    text-align: left;
}

.word-variant-header {
    font-size: 14px;
    color: rgb(156,141,121);
    text-align: left;
}

.word-variant-content {
    font-size: 14px;
    color: rgb(50,34,14);
    text-align: left;
}

.play-soundmark-button {
    cursor: pointer;
    padding-left: 5px;
    font-size: 12px;
}

    .play-soundmark-button:hover {
        color: rgb(106,91,71);
    }

.run-scene-fullscreen {
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

.run-scene-fullscreen-close-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: calc(100% - 40px);
}

.knowledge-panel {
    width: 400px;
    height: 300px;
    position: absolute;
    border: 1px solid rgb(00,00,00);
    background-color: rgb(249,248,228);
    display: none;
    z-index: 800;
}

.knowledge-panel-header {
    width: 100%;
    height: 20px;
    /*cursor: move;*/
}

.knowledge-panel-header-close {
    width: 20px;
    height: 20px;
    position: relative;
    top: 1px;
    left: calc(100% - 26px);
    cursor: pointer;
    color: black;
}

.knowledge-panel-content {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 30px);
}

#btn_Footer_Logo {
    cursor: pointer;
}

.wrap-complete-alert {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 25%;
    background-color: rgba(162,202,92,0.9);
    z-index: 9999;
    display: none;
    padding-top: 8%;
}

.step-complete-title {
    text-align: center;
    color: rgb(255,255,255);
    font-size: 20px;
    padding-bottom: 30px;
}

.step-complete-button {
    text-align: center;
    color: rgb(255,255,255);
    font-size: 14px;
    border: solid 1px rgb(255,255,255);
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

    .step-complete-button:hover {
        font-weight: bold;
        border-width: 2px;
    }

.step-evaluate-wrap {
    text-align: center;
    color: rgb(255,255,255);
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}

.step-evaluate-button {
    cursor: pointer;
}

    .step-evaluate-button:hover {
        font-weight: bold;
    }
