[role=treeitem] {
    background: rgb(245,245,245);
    cursor: pointer;
    width: 85%;
    height: 34px;
    margin-top: 13px;
    margin-left: 4%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.blocklyToolboxDiv [role=treeitem] {
    border-left: 10px solid;
    /*border-color: rgb(90,150,255);*/
}

.blocklyTreeRow {
    overflow: hidden;
}

    .blocklyTreeRow:not(.blocklyTreeSelected):hover {
        background-color: transparent;
    }

.blocklyTreeLabel {
    font-family: 微软雅黑;
}

.blocklyTreeSelected {
    background-color: transparent;
}

.blocklyTreeRow.blocklyHidden {
    height: 1px;
    width: 100px;
    display: block;
}

/*category_Logic
category_Loops
category_Math
category_Text
category_Lists
category_Colour
category_Variables
category_Functions
blockLibCategory*/
