.mylessons-container {
    width: 1180px;
    padding: 0px 10px 10px 10px;
}

.mylessons-symbol {
    height: 60px;
    width: 75px;
    background: url(../images/Icons/lessons.png);
}

.mylessons-title {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}

.mylessons-category {
    font-size: 14px;
    width: 125px;
    height: 25px;
    line-height: 25px;
    background-color: rgb(110,215,0);
    color: rgb(85,85,85);
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
}

    .mylessons-category:hover {
        border: solid 2px rgb(255,255,255);
    }

    .mylessons-category.current {
        background-color: rgb(255,145,40);
        color: rgb(255,255,255);
    }

.mylessons-part-title {
    height: 30px;
    background-color: rgb(0,165,215);
}

.mylessons-part-content {
    padding: 10px;
    height: 390px;
    width: 1160px;
    background: url(../images/BackGround/B_3.fw.png);
}

.mylessons-part-title-item {
    position: relative;
    display: inline-block;
}

    .mylessons-part-title-item.title {
        padding-left: 20px;
        width: 120px;
        line-height: 30px;
        text-align: left;
    }

    .mylessons-part-title-item.selection {
        line-height: 20px;
        width: 85px;
        height: 20px;
        border: solid 1px rgb(255,255,255);
        -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        background-color: rgb(85,85,85);
    }

    .mylessons-part-title-item.paging {
        left: 600px;
        font-size: 12px;
        line-height: 30px;
        width: 60px;
    }

    .mylessons-part-title-item.selection.selected {
        background-color: rgb(0,35,140);
    }

    .mylessons-part-title-item.selection:hover {
        border: solid 2px rgb(255,255,255);
    }

.mylessons-level {
    position: absolute;
    height: 50px;
    width: 180px;
    top: 35px;
    left: 1000px;
}

    .mylessons-level.item {
        position: static;
        margin-left: 10px;
        width: 50px;
        height: 50px;
    }

.level-g1 {
    background: url(../images/Labels/g1.fw.png);
}

.level-g2 {
    background: url(../images/Labels/g2.fw.png);
}

.level-g3 {
    background: url(../images/Labels/g3.fw.png);
}

.mylessons-part-content-button {
    height: 40px;
    width: 40px;
    position: relative;
}

.mylessons-part-content-screen {
    width: 1080px;
    overflow:hidden;
}

.mylessons-part-content-container {
    height: 380px;
    padding: 5px 0px;
    width:1350px;
}

.mylessons-part-content-item {
    height: 380px;
    width: 250px;
    margin: 0px 8px;
    background-color: rgb(221,221,221);
    border: solid 1px rgb(255,255,255);
    display:inline-block;
}
