body {
    margin: auto;
    background-color: rgb(85,85,85);
    width: 1200px;
    min-height: 930px;
    border: solid 1px rgb(0,163,217);
    border-bottom-width: 2px;
    border-top-width: 2px;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    border: none;
    width: 100%;
    height: 100%;
}

td {
    padding: 0px;
}

div {
    width: 100%;
}

.text {
    font-family: 微软雅黑;
    font-size: 14px;
    color: rgb(255,255,255);
    text-align: center;
}

.button {
    position: relative;
    cursor: pointer;
}

.linkto {
    cursor: pointer;
}

.page-header {
    position: relative;
    border-bottom: solid 4px rgb(204,204,204);
    border-top: solid 1px rgb(85,85,85);
}

.page-content {
    position: relative;
    min-height: 850px;
}

.page-footer {
    position: relative;
    height: 216px;
    border-top: solid 4px rgb(204,204,204);
}

.page-content.library {
    height: 500px;
    width: 1180px;
    border-bottom: solid 4px rgb(204,204,204);
    min-height: 0px;
    padding: 10px;
}

.page-content.theme-off {
    height: 430px;
    width: 1180px;
    border: none;
    min-height: 0px;
    padding: 10px;
}


