.page-content{
    min-height:295px;
}

.mycertificate-container {
    min-height:240px;
    width: 1180px;
    padding: 10px 10px 20px 10px;
}

.mycertificate-symbol {
    height: 45px;
    width: 35px;
    background: url(../images/Labels/Course-5.fw.png);
    position: relative;
    left:20px;
}

.mycertificate-title {
    height: 33px;
    font-size: 20px;
    line-height: 33px;
    width: 180px;
    background-color:rgb(112,112,112);
    border:solid 1px rgb(255,255,255);
}

.mycertificate-awarded {
    width: 180px;
    height: 33px;
    line-height: 33px;
    text-align:left;
}

.mycertificate-items-container{
    width: 1180px;
    min-height:210px;
    background:url(../images/Background/B_3.fw.png);
}